.itemWrapper {
  display: flex;
  border-bottom-style: solid;
  border-bottom-color: grey;
}

.App {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: auto;
}

.movies_img {
  width: 60px;
  height: 60px;
  margin: 20px;
}

.movies_img:hover {
  opacity: 0.8;
  filter: alpha(opacity=100); /* For IE8 and earlier */
}

.myButton {
  cursor: pointer;
  margin: 10px;
  width: 25px;
  height: 25px;
}

.myButton:hover {
  opacity: 0.8;
  filter: alpha(opacity=100); /* For IE8 and earlier */
}

.counterWrapper {
  display: flex;
  align-items: center;
}

.trashWrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
}

.wrapperSum {
display: flex;
flex-direction: row-reverse;
padding: 25px;
font-weight: bold;
font-size: 150%;
}

.nameWrapper {
  display: flex;
  flex-direction: column;
}
